<div class="container">
  <div class="row align-items-start center-row row1-padding">
    <h1 class="center-element" i18n>Citas</h1>
  </div>

  <div class="row align-items-center center-row row2-padding">
    <div class="card position-card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Servicio 1267430</h5>
        <h6 class="card-subtitle mb-2 text-muted">Solicitado por: </h6>
        <h6 class="card-subtitle mb-2 text-muted"><strong>Rogelio Bustamante Godinez</strong></h6>
        <h6 class="card-subtitle mb-2 text-muted">Telefono:</h6>
        <h6 class="card-subtitle mb-2 text-muted"><strong>+4784 478347 443434</strong></h6>
        <h6 class="card-subtitle mb-2 text-muted">Cita:</h6>
        <h6 class="card-subtitle mb-2 text-muted"><strong>30/3/2020 13:30</strong></h6>
        <h5 class="card-subtitle mb-2 text-muted text-padding"><strong>Descripcion</strong></h5>
        <p class="card-text">Necesito recoger cuatro muebles pasados para reciclaje de los mismos. Precio a negociar</p>
        <a class="btn btn-primary" routerLink=".">Completar</a>
        <a class="btn btn-primary" routerLink=".">Cancelar</a>
      </div>
    </div>
  </div>
</div>
