@import '../../../../../styles/styles';

@mixin hide-responsive{
  .hide-responsive {
    display: none;
  }

  .card {
    margin-right: 5px;
  }
}

@mixin row-padding($pad1, $pad2){
  .row1-padding{
    padding-top: $pad1;
  }

  .row2-padding{
    padding-top: $pad2;
  }
}

@mixin position-card($isMobile){
  .position-card{
    @if $isMobile{
      margin: auto !important;
    } @else {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
}

.center-element{
  margin: auto !important;
}

.text-padding{
  margin-top: 5px;
}

.text-center{
  text-align: center;
}

/*Desktop*/
@media (min-width: $desktop-width){
  @include row-padding(80px, 30px);
  @include position-card(false);
}
/*Laptop*/
@media (min-width: $laptop-width) and (max-width: $desktop-width - 1px){
  @include row-padding(80px, 30px);
  @include position-card(false);
}
/*Tablet*/
@media (min-width: $tablet-width) and (max-width: $laptop-width - 1px){
  @include hide-responsive();
  @include row-padding(80px, 30px);
  @include position-card(true);
}
/*Mobile*/
@media (max-width: $tablet-width - 1px){
  @include hide-responsive();
  @include row-padding(80px, 30px);
  @include position-card(true);
}
