  <div class="card position-card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title" i18n>Servicio 1267430</h5>
      <h6 class="card-subtitle mb-2 text-muted" i18n>Solicitado por: </h6>
      <h6 class="card-subtitle mb-2 text-muted"><strong>{{appointment.client_id}}</strong></h6>
      <h6 class="card-subtitle mb-2 text-muted" i18n>Categoria:</h6>
      <h6 class="card-subtitle mb-2 text-muted"><strong>{{appointment.categoria}}</strong></h6>
      <h6 class="card-subtitle mb-2 text-muted" i18n>Cita:</h6>
      <h6 class="card-subtitle mb-2 text-muted"><strong>{{appointment.date.toString()}}</strong></h6>
      <h5 class="card-subtitle mb-2 text-muted text-padding" i18n><strong>Descripcion</strong></h5>
      <p class="card-text" i18n>{{appointment.comentarios}}</p>
      <a class="btn btn-primary" routerLink="." (click)="putOrders(appointment._id)" i18n>Completar</a>
      <a class="btn btn-primary" routerLink="." (click)="putOrders(appointment._id)" i18n>Cancelar</a>
    </div>
  </div>
