<div class="nueva-orden-container">
  <div class="row">
    <div class="nueva-orden-titulo">
      <h4 i18n>¿Que quieres vender?</h4>
      <h5 i18n>Paso 4 de 4</h5>
    </div>
  </div>
  <div class="row" style="margin-top: 15px;">
    <div class="form-body">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">

        <div class="stripe-api" i18n>
          Gracias por realizar su orden!
        </div>

        <button type="submit" class="btn-siguiente-paso" i18n>Finalizar</button>
      </form>

    </div>
  </div>
</div>
