<div class="card position-card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title text-center">Servicio 1267430</h5>
        <h6 class="card-subtitle mb-2 text-muted">Solicitado a: </h6>
        <h6 class="card-subtitle mb-2 text-muted"><strong>{{appointment.client}}</strong></h6> 
        <h6 class="card-subtitle mb-2 text-muted">Cita:</h6>
        <h6 class="card-subtitle mb-2 text-muted"><strong>{{appointment.date}} {{appointment.hour}}</strong></h6>   
        <h5 class="card-subtitle mb-2 text-muted text-padding"><strong>Descripcion</strong></h5>  
        <p class="card-text">{{appointment.description}}</p>
        <a class="btn btn-primary" routerLink=".">Cancelar</a>
    </div>
</div>