<div class="container" id="main">
  <div class="row">
    <div class="col">
      <h1 i18n>Servicios Disponibles</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <app-filter-card></app-filter-card>
    </div>
    <div class="col-sm-0 col-md-4">
      <app-type-chart></app-type-chart>
    </div>
  </div>
</div>


<div class="container last-container">
  <div class="row">
      <div class="col-xs-12 col-md-4" *ngFor="let appointment of orders">
        <app-service-card [appointment]="appointment" ></app-service-card>
      </div>
  </div>
</div>
