
<div class="nueva-orden-container">
  <div class="row">
    <div class="nueva-orden-titulo">
      <h4 i18n>¿Que quieres vender?</h4>
      <h5 i18n>Paso 2 de 4</h5>
    </div>
  </div>
  <div class="row" style="margin-top: 15px;">
    <div class="form-body">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
          <label for="ubicacion" i18n>Direccion</label>
          <textarea ngModel name="ubicacion"  class="form-control" id="ubicacion"
                     placeholder="Calle del Puente #222 Col. Ejidos de Huipulco, Tlalpan C.P. 14380, México D.F." required
          >Calle del Puente #222 Col. Ejidos de Huipulco, Tlalpan C.P. 14380, México D.F.
                            </textarea>
        </div>
        <div id="map"></div>


        <h6 i18n>¿Cuando podemos pasar a recoger tus cosas?</h6>

        <div class="form-check">
          <input ngModel name="lunes" class="form-check-input" type="checkbox" value="1" id="Check1">
          <label class="form-check-label" for="Check1" i18n>
            Lunes
          </label>
        </div>

        <div class="form-check">
          <input ngModel name="martes" class="form-check-input" type="checkbox" value="1" id="Check2">
          <label class="form-check-label" for="Check2" i18n>
            Martes
          </label>
        </div>

        <div class="form-check">
          <input ngModel name="miercoles" class="form-check-input" type="checkbox" value="1" id="Check3">
          <label class="form-check-label" for="Check3" i18n>
            Miercoles
          </label>
        </div>

        <div class="form-check">
          <input ngModel name="jueves" class="form-check-input" type="checkbox" value="1" id="Check4">
          <label class="form-check-label" for="Check4" i18n>
            Jueves
          </label>
        </div>

        <div class="form-check">
          <input ngModel name="viernes" class="form-check-input" type="checkbox" value="1" id="Check5">
          <label class="form-check-label" for="Check5" i18n>
            Viernes
          </label>
        </div>

        <div class="form-check">
          <input ngModel name="sabado" class="form-check-input" type="checkbox" value="1" id="Check6">
          <label class="form-check-label" for="Check6" i18n>
            Sabado
          </label>
        </div>

        <div class="form-check">
          <input ngModel name="domingo" class="form-check-input" type="checkbox" value="1" id="Check7">
          <label class="form-check-label" for="Check7" i18n>
            Domingo
          </label>
        </div>

        <button type="submit" class="btn-siguiente-paso" i18n>Siguiente paso</button>
      </form>

    </div>
  </div>
</div>

<script>
</script>
