@import '../../../../../styles/styles';

.nueva-orden-container {
  @extend .container;
  margin-top: 70px;
  margin-bottom: 70px;
}

.nueva-orden-titulo {
  @extend .col;
  @extend .offset-lg-3;
  h4 {
    margin-bottom: 15px;
  }
}

.btn-siguiente-paso {
  @extend .btn;
  margin-top: 15px;
  background-color: primary_color();
  color: secondary_color();
}

@mixin centered_margins($width) {
  width: $width;
  margin-left: (100% - $width) / 2;
}

.form-body {
  @extend .col-lg-8;
  @extend .offset-lg-3;
}

.map-img {
  @media (min-width: $desktop-width){
    @include centered_margins(75%);
  }
  @media (min-width: $laptop-width) and (max-width: $desktop-width - 1px){
    @include centered_margins(85%);
  }
  @media (min-width: $tablet-width) and (max-width: $laptop-width - 1px){
    @include centered_margins(95%);
  }
  @media (max-width: $tablet-width - 1px){
    @include centered_margins(100%);
  }

  margin-bottom: 15px;
}
