<div class="nueva-orden-container">
  <div class="row">
    <div class="nueva-orden-titulo">
      <h4>¿Que quieres vender?</h4>
      <h5>Paso 3 de 4</h5>
    </div>
  </div>
  <div class="row" style="margin-top: 15px;">
    <div class="form-body">
      <form action="./nueva_orden_4.html" method="get">
        <div class="card">
          <div class="card-header">
            Confirma tus datos
          </div>
          <div class="card-body">
            <div class="row">

              <div class="col">
                <h5>Categoria: </h5>
                <h6>Papel</h6>
                <h5>Subcategoria:</h5>
                <h6>Periodico</h6>
                <h5>Peso:</h5>
                <h6>30 kg</h6>
                <h5>Direccion:</h5>
                <h6>Calle del Puente #222 Col. Ejidos de Huipulco, Tlalpan C.P. 14380, México D.F.</h6>

              </div>

            </div>

          </div>


        </div>

        <div class="form-group">
          <label for="comentarios-extra">Comentarios extras</label>
          <textarea  class="form-control" id="comentarios-extra"
                     placeholder="Calle del Puente #222 Col. Ejidos de Huipulco, Tlalpan C.P. 14380, México D.F." required
          >
                            </textarea>
        </div>
        <button type="submit" class="btn-siguiente-paso">Siguiente paso</button>
      </form>

    </div>
  </div>
</div>
