<div class="main-container">
  <div class="row">
    <div class="col">
      <h1>Servicio 1267430</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Lomas Verdes, Calle 234 #23892
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <h6>Solicitado por: </h6>
              <h4>Rogelio Bustamante Godinez</h4>
              <h6>Telefono:</h6>
              <h4>+4784 478347 443434</h4>
              <h6>Descripcion</h6>
              <p>Ncesito recoger cuatro muebles pesados para reciclaje
                de los mismos. Precio a negociar. </p>
            </div>
            <div class="col-xs-12 col-md-6">
              <img src="assets/img/map.png" alt="map" style="width: 100%"/>
            </div>
          </div>

        </div>
        <div class="card-footer">
          <a routerLink=".." class="btn btn-reject">Volver</a>
          <a routerLink=".." class="btn btn-accept">Aceptar</a>
        </div>

      </div>
    </div>
  </div>

</div>

