<div class="main-container">
  <div class="row">
    <div class="col">
      <h1>Servicio {{appointment.id}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          {{appointment.zone}}, {{appointment.address}}
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <h6 i18n>Solicitado por: </h6>
              <h4>{{appointment.client}}</h4>
              <h6 i18n>Telefono:</h6>
              <h4>{{appointment.phone}}</h4>
              <h6 i18n>Descripcion</h6>
              <p i18n>{{appointment.description}}</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <img src="assets/img/map.png" alt="map" style="width: 100%"/>
            </div>
          </div>

        </div>
        <div class="card-footer">
          <a routerLink="../.." class="btn btn-reject" i18n>Volver</a>
          <a routerLink="../.." class="btn btn-accept" i18n>Aceptar</a>
        </div>

      </div>
    </div>
  </div>

</div>

