<div class="container">
    <div class="row align-items-start center-row row1-padding">
        <h1 class="center-element">Reciclaggio</h1>
    </div>
    <div class="row align-items-start center-row row2-padding">
        <img src="assets/img/HarambeChidori.png" alt="Harambe" class="center-element image-size">
    </div>
    <div class="row align-items-center center-row row2-padding">
        <form class="center-element">
            <a class="btn btn-primary" (click)="auth.login('/user')" *ngIf="!auth.loggedIn && !authdriver.loggedIn" i18n>Login User</a>
            <a class="btn btn-primary" (click)="authdriver.login('/driver')" *ngIf="!auth.loggedIn && !authdriver.loggedIn" i18n>Login Driver</a>
            <a class="btn btn-primary" routerLink="/user" *ngIf="auth.loggedIn" i18n>Go to Interface</a>
            <a class="btn btn-primary" routerLink="/driver" *ngIf="authdriver.loggedIn" i18n>Go to Interface</a>
            <br/>
            <a class="btn btn-primary" (click)="auth.logout()" *ngIf="auth.loggedIn || authdriver.loggedIn" i18n>Logout</a>
        </form>
    </div>
</div>
