<nav class="navbar header navbar-expand-sm fixed-top">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
      <span class="navbar-toggler-icon"><img src="assets/img/hamburger_icon.png" style="height: 100%" alt="hamburger"></span>
      <span class="reciclaggio">Reciclaggio</span>
    </button>
    <img src="assets/img/HarambeChidori.png" alt="Harambe" style="width: 50px;">
    <div class="ribbon ribbon-top-right"><span class="ribbon-span">Beta</span></div>

    <div class="collapse navbar-collapse" id="Navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="usertype==='user'">
          <a class="nav-link" routerLink="user">
            Mis Citas
          </a>
        </li>
        <li class="nav-item" *ngIf="usertype==='user'">
          <a class="nav-link" routerLink="/user/nueva-orden/1">
            Hacer una cita
          </a>
        </li>
        <li class="nav-item" *ngIf="usertype==='driver'">
          <a class="nav-link" routerLink="driver">
            Citas
          </a>
        </li>
        <li class="nav-item" *ngIf="usertype==='driver'">
          <a class="nav-link" routerLink="driver/map">
            Ruta del dia
          </a>
        </li>
        <li class="nav-item" *ngIf="usertype==='driver'">
          <a class="nav-link" routerLink="driver/services">
            Servicios Disponibles
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink=".">
            Logout
          </a>
        </li>
        <li class="nav-item">
          <img src="assets/img/language_icon.png" height="25" alt="language"
               data-toggle="modal" data-target="#staticBackdrop" />
        </li>

      </ul>
    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Selecciona Idioma</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="assets/img/language_icons.png" alt="language flags" style="height: 100%; width: 100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
