<div class="nueva-orden-container">
  <div class="row">
    <div class="nueva-orden-titulo">
      <h4 i18n>¿Que quieres vender?</h4>
      <h5 i18n>Paso 1 de 4</h5>
    </div>
  </div>
  <div class="row" style="margin-top: 15px;">
    <div class="form-body">
      <form action="./nueva_orden_2.html" method="get">
        <div class="form-group">
          <label for="categoria" i18n>Categoria</label>
          <select class="form-control" id="categoria" required>
            <option label="categoria"></option>
            <option i18n>Electronicos</option>
            <option i18n>Muebles</option>
            <option i18n>Papel</option>
          </select>
        </div>
        <div class="form-group">
          <label for="subcategoria" i18n>Subcategoria</label>
          <select class="form-control" id="subcategoria" required>
            <option label="subcategoria"></option>
            <option i18n>Revistas</option>
            <option i18n>Libros</option>
            <option i18n>Periodicos</option>
          </select>
        </div>

        <label for="peso" i18n>Peso</label>
        <div class="input-group">
          <input type="text" class="form-control" id="peso" placeholder="1" pattern="[0-9]*[.]{0,1}[0-9]*">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon3">kg</span>
          </div>
        </div>

        <h6 i18n>Dimensiones</h6>

        <label for="alto" i18n>Altura</label>
        <div class="input-group">
          <input type="text" class="form-control" id="alto" placeholder="10" pattern="[0-9]*[.]{0,1}[0-9]*">
          <div class="input-group-append">
            <span class="input-group-text">cm</span>
          </div>
        </div>

        <label for="ancho" i18n>Anchura</label>
        <div class="input-group">

          <input type="text" class="form-control" id="ancho" placeholder="10" pattern="[0-9]*[.]{0,1}[0-9]*">
          <div class="input-group-append">
            <span class="input-group-text">cm</span>
          </div>
        </div>


        <label for="alto" i18n>Longitud</label>
        <div class="input-group">

          <input type="text" class="form-control" id="largo" placeholder="10" pattern="[0-9]*[.]{0,1}[0-9]*">
          <div class="input-group-append">
            <span class="input-group-text">cm</span>
          </div>
        </div>

        <button type="submit" class="btn-siguiente-paso" i18n>Siguiente paso</button>
      </form>

    </div>
  </div>
</div>
