@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/bootstrap-grid.scss';
@import '~bootstrap/scss/bootstrap-reboot.scss';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/modal';
#main {
  margin-top: 80px;
  width: 100%;
  margin-bottom: 20px;
}

@mixin layout-colors {
  color: rgb(255, 255, 255);
  background-color: primary_color();
}

$footer-padding: 15px;

.footer {
  @include layout-colors;
  font-size: 16px;
  padding-left: $footer-padding;
  padding-top: $footer-padding;
  padding-bottom: $footer-padding;
}

.header {
  @include layout-colors;
}

@media (max-width: 600px) {
  .hide-responsive {
    display: none;
  }

  .card {
    margin-right: 5px;
  }
}

//Ribbon

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}



.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}
