 <div class="card">
      <div class="card-header">
        Filtros
      </div>
      <div class="card-body">
        <h6 i18n>Ubicaciones</h6>
        <select class="custom-select custom-select-md">
          <option selected i18n>Todas las ubicaciones</option>
          <option value="1">Lomas Verdes</option>
          <option value="2">Tlalpan</option>
          <option value="3">Del Valle</option>
        </select>

        <h6>Horario</h6>
        <select class="custom-select custom-select-md">
          <option selected>10:00-12:00</option>
          <option value="1">12:00-14:00</option>
          <option value="2">14:00-16:00</option>
          <option value="3">16:00-18:00</option>
        </select>

        <h6>Tipo de servicio</h6>
        <select class="custom-select custom-select-md">
          <option selected i18n>Todos</option>
          <option value="1" i18n>Electrodomesticos</option>
          <option value="2" i18n>Muebles</option>
          <option value="3" i18n>Cascajo y escombros</option>
        </select>
      </div>
    </div>


